<%- include("includes/head", {pageTitle: "Error"}) %>
</head>

<body>
<%- include("includes/header") %>
<main>
  <h1>Not Found!</h1>
  <p>요청한 페이지를 찾을 수 없습니다.</p>
  <p><a class="btn" href="/">홈으로 돌아가기</a></p>
</main>
<%- include("includes/footer") %>