<%- include("../../shared/includes/head", {pageTitle: "Order"}) %>
<link rel="stylesheet" href="/css/products.css">
</head>

<body>
<%- include("../../shared/includes/header") %>
<main>
  <h1>주문 페이지</h1>
</main>
<%- include("../../shared/includes/footer") %>