<%- include("../../shared/includes/head", {pageTitle: "All Products"}) %>
</head>

<body>
<%- include("../../shared/includes/header") %>
<main>
  <h1>전체 상품</h1>
  <p>상품 리스트</p>
</main>
<%- include("../../shared/includes/footer") %>